* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.list {
    padding: 2rem;
    border: 1px solid black;
}

.list li {
  list-style: none
}

.link {
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.25rem;
}

.category {
  font-size: 1.75rem;
  font-weight: 800;
}
