* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.main {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: 5rem 0;
  font-size: 2.75rem;
}

h2 {
  text-align: center;
  margin: 2.5rem 0;
  font-size: 1.75rem;
}

.home-link {
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
}
